article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.topbar {
  display: flex;
  align-content: center;
  justify-content: space-around;
  grid-column: 1 / -1;
  margin-top: 10px;
}

a:link,
a:visited {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: #fff;
  text-decoration: none;
  align-self: center;
  padding: 30px;
}

h1 {
  font-family: 'Franklin Gothic Medium';
  color: #4d7298;
}

strong {
  text-transform: uppercase;
  color: #77a6b6;
}
#link-to-reference {
  background-color: #063d09;
  border: 2px solid #11d85d;
  padding: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px 320px;
}

.two-elements {
  display: flex;
  justify-content: space-between;
}

.info-text {
  grid-column: 1 / -1;
  font-size: 24px;
}
