* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px; */
  /* padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px; */
  padding: 20px 40px; /*First number is top and bottom, second number is left and right*/
  margin-bottom: 60px;
  /* height: 80px; */
}

nav {
  font-size: 18px;
  /* text-align: center; */
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  color: burlywood;
  font-style: italic;
}

.post-image {
  width: 100%;
  height: auto;
}

nav a:link {
  /* 
  display: inline-block;
  margin-top: 10px;
  
  background-color: aquamarine;
  display: block;
  margin: 20px;
  padding: 20px; 
  */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/*h3 + p::first-line {
   color: red; 
}*/

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::before {
  content: 'TOP';
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* FLOATS */

.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clear {
  clear: both;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}

/* FLEXBOX */
/* .container {
  display: flex;
} */

.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 300px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.related-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.related-img {
  display: flex;
  justify-self: center;
  margin-right: 20px;
}
article {
  flex: 1;
  margin: 0;
}

.related-author,
a:active,
li:first-child,
li:last-child {
  font-weight: normal;
  font-style: normal;
}

/* 
Different methods of reaching elements that is not the best practice in complex applications:

footer p {
  font-size: 16px;
  font-style: italic;
} 

article header p {
  font-style: italic;
} 

.first-li {
  font-weight: bold;
}

Misconception: this won't work!!
article p:first-child {
  background-color: red;
}
*/
