body {
  font-family: sans-serif;
  line-height: 1.4;
}

article {
  border: 3px solid #000;
  color: #000;
}

button {
  background-color: #000;
  color: #f7f7f7;
  border: none;
}

button:hover {
  background-color: #fff;
  color: black;
}

h2 {
  background-color: #f7f7f7;
  text-align: center;
}

button,
h2,
h3,
#free-shipping {
  text-transform: uppercase;
}

p {
  font-size: 12px;
}

#cost {
  font-size: 24px;
  font-weight: bolder;
}

#free-shipping {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}
a:link {
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: square;
  font-size: 12px;
}
