/************************************************/
/* HEADER */
/************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Header will be sticky later */
  height: 9.6rem;

  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}
