* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

strong {
  font-weight: 500;
}

/************************************************/
/* GENERAL COMPONENTS */
/************************************************/
/* HEADINGS */
.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* BUTTONS */
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Always placed on the original state */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* Trick to make border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

/* GRID */
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* SPACING */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

/************************************************/
/* LEARNING */
/************************************************/

/* 
.section-how div:nth-child(1) {
  background-color: aqua;
}
.section-how div:nth-child(2) {
  background-color: aquamarine;
}
.section-how div:nth-child(3) {
  background-color: cornflowerblue;
}
.section-how div:nth-child(4) {
  background-color: darkkhaki;
} 
*/
/* 
.section-how div div {
  padding: 100px;
  font-size: 50px;
  background-color: yellow;
} */

/* 
.test {
  Creates horizontal scrolling on the page 
  width: 1000px; 
  background-color: red;
  padding: 100px; 
  The width adapt to the viewport width when shrinking the page 
  max-width: 1000px;

  max-width: 50rem;
  font-size: 2rem;
  padding: 4rem;
   1 rem = 16px if nothing else is declared 
   If you set the font-size to be 10px in the html element 1rem = 10px
} 
*/
